.modal-dark,
.modal-light {
    width: 100dvw;
    height: 100dvh;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    display: flex;
    align-items: center;
    justify-content: center;

}

.modal-dark {
    background-color: rgba(0, 0, 0, 0.588);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);

}
.modal-light {
    background-color: rgba(87, 66, 50, 0.54);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);

}

.modal-content-light,
.modal-content-dark {
    min-width: 70%;
    position: relative;

    padding-top: 100px;
    padding-bottom: 100px;

    display: flex;
    flex-direction: column;
}

.modal-content-dark h2,
.modal-content-light h2 {
    font-weight: 600;
}

.modal-content-dark {
    box-shadow: 0 0 10px 1px #4746468f;
    color: #fff;
    background-color: #23232397;
    border: 1px solid #494848;
    border-radius: 5px;

    padding: 20px;
}

.modal-content-light {
    box-shadow: 0 0 10px 1px #220f038f;
    color: #381d0f;
    background-color: #68483597;
    border: 1px solid #432b1d;
    border-radius: 5px;

    padding: 20px;
}

.close-modal-button {
    background: none;
    border: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 9px;
    right: 9px;

    transition: all .3s ease;
}

.close-modal-button:hover {
    transition: all .3s ease;
    transform: scale(1.2);
}