.footer-light,
.footer-dark {
    width: 100%;
    min-height: 10dvh;

    padding-left: 15px;

    display: flex;
    align-items: center;
    justify-content: start;
    gap: 15px;
}

.footer-light {
  background-color: rgb(239, 233, 229);
}

.footer-dark {
    background-color: rgb(37, 36, 36);
}

.footer nav {
    display: flex;
    align-items: center;
    gap: 10;
}
a {
    color: inherit;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.footer-light .withMail {
    color: #3d3d3d;
}
.footer-dark .withMail {
    color: white;
}
