.app-light,
.app-dark {
  display: flex;
  align-items: baseline;
  flex-direction: column;

  width: 100%;
  min-height: 90dvh;
}
.app-light {
  
  background-color: rgb(239, 233, 229);

}
.app-dark {
  background-color: rgb(37, 36, 36);
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.todolists {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;

  width: 98%;

  margin: 0 auto;

  padding: 20px;

}

.error {
  position: relative;
  border: 1px solid rgb(175, 2, 2);
  box-shadow:  0 0 2px 1px rgba(255, 0, 0, 0.486);
}
input:focus {
  outline: none;
}

.toggle-dark, 
.toggle-light {
  width: 40px;
  height: 20px;
  border-radius: 50%;

  display: inline-block;

  cursor: pointer;
}

.toggle-input-dark,
.toggle-input-light {
  display: none;
}

.toggle-fill-dark,
.toggle-fill-light {
  position: relative;
  width: 40px;
  height: 20px;
  border-radius: 20px;
  
  background-color: #ccc;

  transition: background-color .35s ease-in-out;
}

.toggle-fill-light {
  box-shadow: inset 1px -3px 6px 1px #5a4b4432, inset 0 0 3px 1px #524036a2 ;
}

.toggle-input-dark:checked ~ .toggle-fill-dark {
  background-color: #212121;
  box-shadow: inset 1px -3px 6px 1px #3c3c3c4d, inset 0 0 3px 1px #00000098;
}

.toggle-fill-dark::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;

  width: 20px;
  height: 20px;

  border-radius: 50%;
  box-shadow: 0 0 4px 1px #54545430;
  background-color: rgb(27, 27, 27);

  transition: transform .2s ease-in-out;
}

.toggle-fill-light::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;

  width: 20px;
  height: 20px;
  transform: translateX(20px);

  border-radius: 50%;
  box-shadow: 0 0 4px 1px #201303c1;
  background-color: #e8c9b6d9;

  transition: transform .2s ease-in-out;
}

.toggle-fill-light {
  
  background-color: rgb(204, 181, 157); 
}

.toggle-input-light:checked ~ .toggle-fill-light::after {
  transform: translateX(0); 
}

.add-todo-button {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 20px;
}

.add-todo-button svg {
  transition: all .2s ease;
}

.add-todo-button:hover svg{
  transform: translateY(3px);
  transition: all .2s ease;
}